openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Coins API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Coins
  description: General coin listing, mapping, and reference metadata.
paths:
  /all/coinlist:
    get:
      operationId: getAllCoinsList
      summary: Get All Coins List
      description: Returns the complete CryptoCompare coin list with mapping, image URLs, algorithm, proof type, supply data, and CCData taxonomy.
      tags:
      - Coins
      parameters:
      - name: summary
        in: query
        description: When true, returns a slimmer payload without descriptions.
        schema:
          type: boolean
      responses:
        '200':
          description: Coin list envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinListResponse'
components:
  schemas:
    CoinListEntry:
      type: object
      properties:
        Id:
          type: string
        Url:
          type: string
        ImageUrl:
          type: string
        ContentCreatedOn:
          type: integer
          format: int64
        Name:
          type: string
        Symbol:
          type: string
        CoinName:
          type: string
        FullName:
          type: string
        Description:
          type: string
        AssetTokenStatus:
          type: string
        Algorithm:
          type: string
        ProofType:
          type: string
        SortOrder:
          type: string
        Sponsored:
          type: boolean
        Taxonomy:
          type: object
        Rating:
          type: object
        IsTrading:
          type: boolean
    CoinListResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CoinListEntry'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
