openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Order Book API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information. The REST API is available at https://min-api.cryptocompare.com/data and supports authenticated access via an API key passed either as the api_key query parameter or in the Authorization header. Free-tier traffic is metered in monthly call credits; paid commercial tiers expand the monthly budget and enable additional endpoints such as news, social, blockchain, top lists, and order book.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Order Book
  description: Top-of-book order book data across integrated exchanges.
paths:
  /v2/ob/l1/top:
    get:
      operationId: getOrderBookTopOfBook
      summary: Get Order Book Top of Book
      description: Returns the top of the order book (best bid and ask) for one or more pairs across one or more exchanges. Requires an API key on most tiers.
      tags:
      - Order Book
      parameters:
      - $ref: '#/components/parameters/FsymsParam'
      - $ref: '#/components/parameters/TsymsParam'
      - name: e
        in: query
        description: Comma-separated list of exchanges.
        schema:
          type: string
      responses:
        '200':
          description: Top-of-book envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBookTopResponse'
components:
  parameters:
    TsymsParam:
      name: tsyms
      in: query
      required: true
      description: Comma-separated to-symbols (target currencies), e.g. USD,EUR.
      schema:
        type: string
    FsymsParam:
      name: fsyms
      in: query
      required: true
      description: Comma-separated from-symbols (base cryptocurrencies), e.g. BTC,ETH.
      schema:
        type: string
  schemas:
    OrderBookTopResponse:
      type: object
      properties:
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          description: Nested mapping of fsym to tsym to exchange to top-of-book entry.
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
