openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Top Lists API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information. The REST API is available at https://min-api.cryptocompare.com/data and supports authenticated access via an API key passed either as the api_key query parameter or in the Authorization header. Free-tier traffic is metered in monthly call credits; paid commercial tiers expand the monthly budget and enable additional endpoints such as news, social, blockchain, top lists, and order book.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Top Lists
  description: Top list endpoints by 24h volume, market cap, exchange volume, and pair volume.
paths:
  /top/totalvolfull:
    get:
      operationId: getTopListByTotalVolumeFull
      summary: Get Top List by Total Volume (Full Data)
      description: Returns the top cryptocurrencies by 24-hour total volume converted into a target currency, including full ticker data per coin.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/LimitTopParam'
      - $ref: '#/components/parameters/PageParam'
      - name: tsym
        in: query
        required: true
        description: Quote currency for the volume conversion.
        schema:
          type: string
      responses:
        '200':
          description: List of coins with CoinInfo, RAW, and DISPLAY blocks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopListResponse'
  /top/mktcapfull:
    get:
      operationId: getTopListByMarketCapFull
      summary: Get Top List by Market Cap (Full Data)
      description: Returns the top cryptocurrencies by market capitalization with full ticker data per coin.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/LimitTopParam'
      - $ref: '#/components/parameters/PageParam'
      - name: tsym
        in: query
        required: true
        description: Quote currency for the market-cap conversion.
        schema:
          type: string
      responses:
        '200':
          description: Top coins by market cap.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopListResponse'
  /top/exchanges:
    get:
      operationId: getTopExchangesByPairVolume
      summary: Get Top Exchanges by Pair Volume
      description: Returns the top exchanges ranked by 24-hour volume for a given pair.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitTopParam'
      responses:
        '200':
          description: Top exchanges for the pair.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopExchangesResponse'
  /top/exchanges/full:
    get:
      operationId: getTopExchangesFullByPairVolume
      summary: Get Top Exchanges (Full Data) by Pair Volume
      description: Returns the top exchanges by 24-hour pair volume with full ticker data per exchange.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitTopParam'
      responses:
        '200':
          description: Top exchanges full data envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopExchangesFullResponse'
  /top/volumes:
    get:
      operationId: getTopVolumesByCurrency
      summary: Get Top Volumes by Currency
      description: Returns the top cryptocurrencies by aggregate 24-hour volume against a given quote currency. Lighter payload than totalvolfull.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/LimitTopParam'
      - name: tsym
        in: query
        required: true
        description: Quote currency for the ranking.
        schema:
          type: string
      responses:
        '200':
          description: Ranked list of coin volumes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopVolumesResponse'
  /top/pairs:
    get:
      operationId: getTopPairsByVolume
      summary: Get Top Pairs by Volume
      description: Returns the most active trading pairs for a given from-symbol across every integrated exchange.
      tags:
      - Top Lists
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/LimitTopParam'
      responses:
        '200':
          description: Top trading pairs envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopPairsResponse'
components:
  schemas:
    TopPairsResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: array
          items:
            type: object
            properties:
              exchange:
                type: string
              fromSymbol:
                type: string
              toSymbol:
                type: string
              volume24h:
                type: number
              volume24hTo:
                type: number
    TopExchangesFullResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          properties:
            CoinInfo:
              $ref: '#/components/schemas/CoinInfo'
            Exchanges:
              type: array
              items:
                type: object
    TopExchangesResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: array
          items:
            type: object
            properties:
              exchange:
                type: string
              fromSymbol:
                type: string
              toSymbol:
                type: string
              volume24h:
                type: number
              volume24hTo:
                type: number
    TopListResponse:
      type: object
      properties:
        Message:
          type: string
        Type:
          type: integer
        MetaData:
          type: object
          properties:
            Count:
              type: integer
        SponsoredData:
          type: array
          items:
            type: object
        Data:
          type: array
          items:
            type: object
            properties:
              CoinInfo:
                $ref: '#/components/schemas/CoinInfo'
              RAW:
                type: object
              DISPLAY:
                type: object
    TopVolumesResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: array
          items:
            type: object
            properties:
              SYMBOL:
                type: string
              SUPPLY:
                type: number
              FULLVOLUME:
                type: string
              TOPTIERVOLUME24HOUR:
                type: string
    CoinInfo:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        FullName:
          type: string
        Internal:
          type: string
        ImageUrl:
          type: string
        Url:
          type: string
        Algorithm:
          type: string
        ProofType:
          type: string
        Rating:
          type: object
        NetHashesPerSecond:
          type: number
        BlockNumber:
          type: integer
        BlockTime:
          type: number
        BlockReward:
          type: number
        AssetLaunchDate:
          type: string
        MaxSupply:
          type: number
        Type:
          type: integer
        DocumentType:
          type: string
  parameters:
    TsymParam:
      name: tsym
      in: query
      required: true
      description: To-symbol (target currency), e.g. USD.
      schema:
        type: string
    FsymParam:
      name: fsym
      in: query
      required: true
      description: From-symbol (base cryptocurrency symbol), e.g. BTC.
      schema:
        type: string
    PageParam:
      name: page
      in: query
      description: Zero-indexed page number for paginated top-list endpoints.
      schema:
        type: integer
        default: 0
    LimitTopParam:
      name: limit
      in: query
      description: Number of rows to return (max varies per endpoint, typically 100).
      schema:
        type: integer
        default: 10
        maximum: 100
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
