openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Blockchain API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information. The REST API is available at https://min-api.cryptocompare.com/data and supports authenticated access via an API key passed either as the api_key query parameter or in the Authorization header. Free-tier traffic is metered in monthly call credits; paid commercial tiers expand the monthly budget and enable additional endpoints such as news, social, blockchain, top lists, and order book.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Blockchain
  description: On-chain blockchain data including history and balance distribution.
paths:
  /blockchain/list:
    get:
      operationId: getBlockchainAvailableCoinList
      summary: Get Available Blockchain Data Coins
      description: Returns the list of coins that have on-chain blockchain data available (transaction count, active addresses, average transaction value, etc.).
      tags:
      - Blockchain
      responses:
        '200':
          description: Available blockchain coins envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainListResponse'
  /blockchain/latest:
    get:
      operationId: getBlockchainLatestDay
      summary: Get Latest Blockchain Day
      description: Returns the latest day of on-chain data for a coin including transaction count, average transaction value, active addresses, hashrate, difficulty, and large transaction count.
      tags:
      - Blockchain
      parameters:
      - name: fsym
        in: query
        required: true
        description: From-symbol (coin) of the blockchain dataset.
        schema:
          type: string
      responses:
        '200':
          description: Latest blockchain data point.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainLatestResponse'
  /blockchain/histo/day:
    get:
      operationId: getBlockchainHistoricalDaily
      summary: Get Historical Daily Blockchain Data
      description: Returns daily on-chain data history (transaction count, value, active addresses, hashrate, difficulty) for a coin.
      tags:
      - Blockchain
      parameters:
      - name: fsym
        in: query
        required: true
        description: From-symbol (coin) of the blockchain dataset.
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ToTsParam'
      responses:
        '200':
          description: Daily blockchain history envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainHistoryResponse'
  /blockchain/balancedistribution/histo/day:
    get:
      operationId: getBlockchainBalanceDistributionDaily
      summary: Get Historical Daily Blockchain Balance Distribution
      description: Returns daily history of on-chain balance distribution buckets for a coin (addresses with 0-0.001, 0.001-0.01, etc., units of the asset).
      tags:
      - Blockchain
      parameters:
      - name: fsym
        in: query
        required: true
        description: From-symbol (coin) of the dataset.
        schema:
          type: string
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/ToTsParam'
      responses:
        '200':
          description: Daily balance distribution envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceDistributionResponse'
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Number of data points to return (max 2000 for OHLCV).
      schema:
        type: integer
        default: 30
        maximum: 2000
    ToTsParam:
      name: toTs
      in: query
      description: Unix timestamp (seconds) to use as the upper bound for the returned window.
      schema:
        type: integer
        format: int64
  schemas:
    BlockchainHistoryResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          properties:
            Aggregated:
              type: boolean
            TimeFrom:
              type: integer
              format: int64
            TimeTo:
              type: integer
              format: int64
            Data:
              type: array
              items:
                $ref: '#/components/schemas/BlockchainDataPoint'
    BlockchainLatestResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          $ref: '#/components/schemas/BlockchainDataPoint'
    BlockchainDataPoint:
      type: object
      properties:
        id:
          type: integer
        time:
          type: integer
          format: int64
        symbol:
          type: string
        zero_balance_addresses_all_time:
          type: integer
        unique_addresses_all_time:
          type: integer
        new_addresses:
          type: integer
        active_addresses:
          type: integer
        transaction_count:
          type: integer
        transaction_count_all_time:
          type: integer
        large_transaction_count:
          type: integer
        average_transaction_value:
          type: number
        block_height:
          type: integer
        hashrate:
          type: number
        difficulty:
          type: number
        block_time:
          type: number
        block_size:
          type: integer
        current_supply:
          type: number
    BalanceDistributionResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          properties:
            Aggregated:
              type: boolean
            TimeFrom:
              type: integer
              format: int64
            TimeTo:
              type: integer
              format: int64
            Data:
              type: array
              items:
                type: object
                properties:
                  time:
                    type: integer
                    format: int64
                  symbol:
                    type: string
                  balance_distribution:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: number
                        to:
                          type: number
                        totalVolume:
                          type: number
                        addressesCount:
                          type: integer
    BlockchainListResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          additionalProperties:
            type: object
            properties:
              id:
                type: integer
              symbol:
                type: string
              partner_symbol:
                type: string
              data_available_from:
                type: integer
                format: int64
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
