openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Historical API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information. The REST API is available at https://min-api.cryptocompare.com/data and supports authenticated access via an API key passed either as the api_key query parameter or in the Authorization header. Free-tier traffic is metered in monthly call credits; paid commercial tiers expand the monthly budget and enable additional endpoints such as news, social, blockchain, top lists, and order book.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Historical
  description: Historical OHLCV candle data by day, hour, and minute.
paths:
  /v2/histoday:
    get:
      operationId: getHistoricalDailyOHLCV
      summary: Get Historical Daily OHLCV
      description: Returns daily OHLCV candles for a cryptocurrency pair, ordered ascending by timestamp. Up to 2000 data points per call.
      tags:
      - Historical
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/AggregateParam'
      - $ref: '#/components/parameters/ToTsParam'
      - $ref: '#/components/parameters/EParam'
      - $ref: '#/components/parameters/TryConversionParam'
      responses:
        '200':
          description: Historical daily OHLCV envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OHLCVResponse'
  /v2/histohour:
    get:
      operationId: getHistoricalHourlyOHLCV
      summary: Get Historical Hourly OHLCV
      description: Returns hourly OHLCV candles for a cryptocurrency pair. Up to 2000 data points per call.
      tags:
      - Historical
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/AggregateParam'
      - $ref: '#/components/parameters/ToTsParam'
      - $ref: '#/components/parameters/EParam'
      - $ref: '#/components/parameters/TryConversionParam'
      responses:
        '200':
          description: Historical hourly OHLCV envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OHLCVResponse'
  /v2/histominute:
    get:
      operationId: getHistoricalMinuteOHLCV
      summary: Get Historical Minute OHLCV
      description: Returns minute OHLCV candles for a cryptocurrency pair. Up to 2000 data points per call and up to 7 days of history on the free tier.
      tags:
      - Historical
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/AggregateParam'
      - $ref: '#/components/parameters/ToTsParam'
      - $ref: '#/components/parameters/EParam'
      - $ref: '#/components/parameters/TryConversionParam'
      responses:
        '200':
          description: Historical minute OHLCV envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OHLCVResponse'
components:
  parameters:
    TsymParam:
      name: tsym
      in: query
      required: true
      description: To-symbol (target currency), e.g. USD.
      schema:
        type: string
    FsymParam:
      name: fsym
      in: query
      required: true
      description: From-symbol (base cryptocurrency symbol), e.g. BTC.
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: Number of data points to return (max 2000 for OHLCV).
      schema:
        type: integer
        default: 30
        maximum: 2000
    AggregateParam:
      name: aggregate
      in: query
      description: Time-period aggregation factor (e.g. 5 returns 5-minute candles for histominute).
      schema:
        type: integer
        default: 1
    TryConversionParam:
      name: tryConversion
      in: query
      description: When false, do not multi-hop convert via BTC if a direct pair is unavailable.
      schema:
        type: boolean
        default: true
    ToTsParam:
      name: toTs
      in: query
      description: Unix timestamp (seconds) to use as the upper bound for the returned window.
      schema:
        type: integer
        format: int64
    EParam:
      name: e
      in: query
      description: Source exchange (default CCCAGG aggregate index).
      schema:
        type: string
        default: CCCAGG
  schemas:
    OHLCVResponse:
      type: object
      description: Standard v2 OHLCV response envelope.
      properties:
        Response:
          type: string
          enum:
          - Success
          - Error
        Message:
          type: string
        HasWarning:
          type: boolean
        Type:
          type: integer
        RateLimit:
          type: object
        Data:
          type: object
          properties:
            Aggregated:
              type: boolean
            TimeFrom:
              type: integer
              format: int64
            TimeTo:
              type: integer
              format: int64
            Data:
              type: array
              items:
                $ref: '#/components/schemas/OHLCVCandle'
    OHLCVCandle:
      type: object
      properties:
        time:
          type: integer
          format: int64
          description: Period start timestamp in seconds.
        high:
          type: number
        low:
          type: number
        open:
          type: number
        close:
          type: number
        volumefrom:
          type: number
        volumeto:
          type: number
        conversionType:
          type: string
        conversionSymbol:
          type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
