openapi: 3.2.0
info:
  title: CryptoCompare min-api (Legacy) Exchanges API
  description: The CryptoCompare min-api (now CoinDesk Data Legacy API) provides cryptocurrency market data including current and historical prices, OHLCV candles (minute/hour/day), top lists by volume and market cap, news, social statistics, order book data, blockchain data, and exchange information. The REST API is available at https://min-api.cryptocompare.com/data and supports authenticated access via an API key passed either as the api_key query parameter or in the Authorization header. Free-tier traffic is metered in monthly call credits; paid commercial tiers expand the monthly budget and enable additional endpoints such as news, social, blockchain, top lists, and order book.
  version: '1.0'
  contact:
    name: CryptoCompare / CoinDesk Data Support
    url: https://developers.coindesk.com/support
    email: data@cryptocompare.com
  termsOfService: https://www.cryptocompare.com/api/
  license:
    name: CryptoCompare API Terms
    url: https://www.cryptocompare.com/api/
servers:
- url: https://min-api.cryptocompare.com/data
  description: Production Server
security:
- apiKeyQuery: []
- apiKeyHeader: []
tags:
- name: Exchanges
  description: Exchange metadata and exchange-pair listings.
paths:
  /top/exchanges:
    get:
      operationId: getTopExchangesByPairVolume
      summary: Get Top Exchanges by Pair Volume
      description: Returns the top exchanges ranked by 24-hour volume for a given pair.
      tags:
      - Exchanges
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitTopParam'
      responses:
        '200':
          description: Top exchanges for the pair.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopExchangesResponse'
  /top/exchanges/full:
    get:
      operationId: getTopExchangesFullByPairVolume
      summary: Get Top Exchanges (Full Data) by Pair Volume
      description: Returns the top exchanges by 24-hour pair volume with full ticker data per exchange.
      tags:
      - Exchanges
      parameters:
      - $ref: '#/components/parameters/FsymParam'
      - $ref: '#/components/parameters/TsymParam'
      - $ref: '#/components/parameters/LimitTopParam'
      responses:
        '200':
          description: Top exchanges full data envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopExchangesFullResponse'
  /all/exchanges:
    get:
      operationId: getAllExchanges
      summary: Get All Exchanges and Trading Pairs
      description: Returns the full list of integrated exchanges and the trading pairs each exchange currently exposes.
      tags:
      - Exchanges
      responses:
        '200':
          description: Map of exchange name to traded pairs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllExchangesResponse'
  /exchanges/general:
    get:
      operationId: getExchangesGeneralInfo
      summary: Get Exchanges General Info
      description: Returns descriptive metadata, ranking grade, country, URL, and feature flags for every integrated exchange.
      tags:
      - Exchanges
      responses:
        '200':
          description: Exchange general info envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesGeneralResponse'
components:
  parameters:
    TsymParam:
      name: tsym
      in: query
      required: true
      description: To-symbol (target currency), e.g. USD.
      schema:
        type: string
    FsymParam:
      name: fsym
      in: query
      required: true
      description: From-symbol (base cryptocurrency symbol), e.g. BTC.
      schema:
        type: string
    LimitTopParam:
      name: limit
      in: query
      description: Number of rows to return (max varies per endpoint, typically 100).
      schema:
        type: integer
        default: 10
        maximum: 100
  schemas:
    ExchangesGeneralResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          additionalProperties:
            type: object
            properties:
              Id:
                type: string
              Name:
                type: string
              Url:
                type: string
              LogoUrl:
                type: string
              ItemType:
                type: array
                items:
                  type: string
              CentralizationType:
                type: string
              InternalName:
                type: string
              GradePoints:
                type: number
              Grade:
                type: string
              GradePointsSplit:
                type: object
              AffiliateURL:
                type: string
              Country:
                type: string
              OrderBook:
                type: boolean
              Trades:
                type: boolean
              Description:
                type: string
    AllExchangesResponse:
      type: object
      description: Map of exchange name to base symbol to list of quote symbols traded.
      additionalProperties:
        type: object
        additionalProperties:
          type: array
          items:
            type: string
    TopExchangesFullResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: object
          properties:
            CoinInfo:
              $ref: '#/components/schemas/CoinInfo'
            Exchanges:
              type: array
              items:
                type: object
    TopExchangesResponse:
      type: object
      properties:
        Response:
          type: string
        Message:
          type: string
        Type:
          type: integer
        Data:
          type: array
          items:
            type: object
            properties:
              exchange:
                type: string
              fromSymbol:
                type: string
              toSymbol:
                type: string
              volume24h:
                type: number
              volume24hTo:
                type: number
    CoinInfo:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        FullName:
          type: string
        Internal:
          type: string
        ImageUrl:
          type: string
        Url:
          type: string
        Algorithm:
          type: string
        ProofType:
          type: string
        Rating:
          type: object
        NetHashesPerSecond:
          type: number
        BlockNumber:
          type: integer
        BlockTime:
          type: number
        BlockReward:
          type: number
        AssetLaunchDate:
          type: string
        MaxSupply:
          type: number
        Type:
          type: integer
        DocumentType:
          type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      name: api_key
      in: query
      description: CryptoCompare API key supplied as the api_key query parameter.
    apiKeyHeader:
      type: apiKey
      name: Authorization
      in: header
      description: 'CryptoCompare API key supplied as `Authorization: Apikey {apiKey}`.'
externalDocs:
  description: CoinDesk Data Legacy API Documentation
  url: https://developers.coindesk.com/documentation/legacy/Price/SingleSymbolPriceEndpoint
